name: Run tests for PRs
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - master

jobs:
  test:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          # Use the go version specified by the package
          go-version-file: 'go.mod'

      - name: Install Go packages
        run: |
          go mod download
      - name: Build
        run: |
          go build -o service
      - name: Run unit tests
        run: |
          go test -v ./...

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Not used by our current deployment, but we need to know this works before merging PRs
      - name: Build and push docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/openai-discord-bot:${{github.sha}}
